# Project Goals
1. Create a website with various basketball Dataframes and Visualizations using NBA PyPi API <br> 
  * **Challenges:** <br>
  * Export code from python into website <br>
  * Refresh and repopulate daily with updated information  <br><br>
1. Data science goal #1: Win Probability given certain conditions <br>
1. Data science goal #2: Multiple Regression <br>
1. Individual Player Stats (Actual/Per-36) <br>
  1. Potential Option: Players news pertaining to certain players <br>
1. Player Comparisons - given certain conditions <br>

In [1]:
pip install nba_api

Requirement already satisfied: nba_api in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (1.1.8)
Requirement already satisfied: requests in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (from nba_api) (2.22.0)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nba_api) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nba_api) (1.24.2)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nba_api) (2.8)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\adler\appdata\local\continuum\anaconda3\lib\site-packages (from requests->nba_api) (2019.9.11)
Note: you may need to restart the kernel to use updated packages.

#  Dependencies

In [2]:
import pandas as pd
import datetime as dt

In [3]:
from nba_api.stats.static import players
from nba_api.stats.static import teams

#  #1 Expected win probability: Hitting shots 2ptr's and 3ptr's at certain times in the game and when winning or losing by various amounts (visualization)

# #2 Expected win probaility: Multiple regression using advanced stats (dataframe) -- see basketballreference for advanced stats + descriptions

# #3a Find endpoint with location of both missed and made shots by player. Use scatterplot to show fg % by zone. Additional layer, filter dataframe to only have shots taken within the last 2 minutes of game (visualization)

# #3b Heatmap based on made shots. Additional layer, filter dataframe to only have shots taken within the last 2 minutes of game (visualization)

# #4 Compare players over certain period of time. Have actual stats in addition to per 36.  Additionally, have ability to filer by regular season and post season

#  <font color='red'>Analyzing various endpoints in dataframes</font>

# Endpoint / Parameter usage 
from nba_api.stats.endpoints.*add_endpoints_here* <br>
from nba_api.stats.library.parameters import *add_parameters_here*

In [18]:
all_players = players.get_players()
all_players_df = pd.DataFrame(all_players) 
all_players_df

           id            full_name first_name     last_name  is_active
0       76001       Alaa Abdelnaby       Alaa     Abdelnaby      False
1       76002      Zaid Abdul-Aziz       Zaid    Abdul-Aziz      False
2       76003  Kareem Abdul-Jabbar     Kareem  Abdul-Jabbar      False
3          51   Mahmoud Abdul-Rauf    Mahmoud    Abdul-Rauf      False
4        1505    Tariq Abdul-Wahad      Tariq   Abdul-Wahad      False
...       ...                  ...        ...           ...        ...
4496  1627790           Ante Zizic       Ante         Zizic       True
4497    78647             Jim Zoet        Jim          Zoet      False
4498    78648            Bill Zopf       Bill          Zopf      False
4499  1627826          Ivica Zubac      Ivica         Zubac       True
4500    78650           Matt Zunic       Matt         Zunic      False

[4501 rows x 5 columns]

In [22]:
all_teams = teams.get_teams()
all_teams_df = pd.DataFrame(all_teams) 
all_teams_df

,id,full_name,abbreviation,nickname,city,state,year_founded
0,1610612737,Atlanta Hawks,ATL,Hawks,Atlanta,Atlanta,1949
1,1610612738,Boston Celtics,BOS,Celtics,Boston,Massachusetts,1946
2,1610612739,Cleveland Cavaliers,CLE,Cavaliers,Cleveland,Ohio,1970
3,1610612740,New Orleans Pelicans,NOP,Pelicans,New Orleans,Louisiana,2002
4,1610612741,Chicago Bulls,CHI,Bulls,Chicago,Illinois,1966
5,1610612742,Dallas Mavericks,DAL,Mavericks,Dallas,Texas,1980
6,1610612743,Denver Nuggets,DEN,Nuggets,Denver,Colorado,1976
7,1610612744,Golden State Warriors,GSW,Warriors,Golden State,California,1946
8,1610612745,Houston Rockets,HOU,Rockets,Houston,Texas,1967
9,1610612746,Los Angeles Clippers,LAC,Clippers,Los Angeles,California,1970
10,1610612747,Los Angeles Lakers,LAL,Lakers,Los Angeles,California,1948
11,1610612748,Miami Heat,MIA,Heat,Miami,Florida,1988
12,1610612749,Milwaukee Bucks,MIL,Bucks,Milwaukee,Wisconsin,1968
13,1610612750,Minnesota Timberwolves,MIN,Timberwolves,Minnesota,Minnesota,1989
14,1610612751,Brooklyn Nets,BKN,Nets,Brooklyn,New York,1976
15,1610612752,New York Knicks,NYK,Knicks,New York,New York,1946
16,1610612753,Orlando Magic,ORL,Magic,Orlando,Florida,1989
17,1610612754,Indiana Pacers,IND,Pacers,Indiana,Indiana,1976
18,1610612755,Philadelphia 76ers,PHI,76ers,Philadelphia,Pennsylvania,1949
19,1610612756,Phoenix Suns,PHX,Suns,Phoenix,Arizona,1968
20,1610612757,Portland Trail Blazers,POR,Trail Blazers,Portland,Oregon,1970
21,1610612758,Sacramento Kings,SAC,Kings,Sacramento,California,1948
22,1610612759,San Antonio Spurs,SAS,Spurs,San Antonio,Texas,1976
23,1610612760,Oklahoma City Thunder,OKC,Thunder,Oklahoma City,Oklahoma,1967
24,1610612761,Toronto Raptors,TOR,Raptors,Toronto,Ontario,1995
25,1610612762,Utah Jazz,UTA,Jazz,Utah,Utah,1974
26,1610612763,Memphis Grizzlies,MEM,Grizzlies,Memphis,Tennessee,1995
27,1610612764,Washington Wizards,WAS,Wizards,Washington,District of Columbia,1961
28,1610612765,Detroit Pistons,DET,Pistons,Detroit,Michigan,1948
29,1610612766,Charlotte Hornets,CHA,Hornets,Charlotte,North Carolina,1988

In [ ]:
# Find teams by full name.
teams.find_teams_by_full_name('chicago')

# # Find teams by state.
teams.find_teams_by_state('ohio')

# # Find teams by city.
teams.find_teams_by_city('chicago')

# # Find teams by team nickname.
# teams.find_teams_by_nickname('cav')

# # Find teams by year founded.
# teams.find_teams_by_year_founded(1968)

# # Find teams by abbreviation.
# teams.find_team_by_abbreviation('cle')

# # Find teams by id.
# teams.find_team_name_by_id(1610612739)

# # Get all teams.
#teams.get_teams()

In [26]:
from nba_api.stats.endpoints import shotchartdetail

shotchartdetail.ShotChartDetail(
    team_id ='1610612748',
    player_id = '2544',
    context_measure_simple='PTS',
    last_n_games='0',
    league_id='00',
    month='0',
    opponent_team_id=0,
    period='0',
    season_type_all_star='Regular Season',
    ahead_behind_nullable='',
    clutch_time_nullable='',
    context_filter_nullable='',
    date_from_nullable='',
    date_to_nullable='',
    end_period_nullable='',
    end_range_nullable='',
    game_id_nullable='',
    game_segment_nullable='',
    location_nullable='',
    outcome_nullable='',
    player_position_nullable='',
    point_diff_nullable='',
    position_nullable='',
    range_type_nullable='',
    rookie_year_nullable='',
    season_nullable='',
    season_segment_nullable='',
    start_period_nullable='',
    start_range_nullable='',
    vs_conference_nullable='',
    vs_division_nullable='',
    proxy=None,
    headers=None,
    timeout=30,
    get_request=True,
)